body {
    margin: 0;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    background-color: #00000080;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px 40px;
}